body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 40px;
    color: black;
    border: 40px solid rgb(220, 140, 20);
    background: rgb(220, 180, 130);
    min-height: 50em;
}

.welcome {
    font-size: 2em;
    text-align: center;
}

.sticky {
    display: grid;
    grid-template-columns: 1570px 150px 150px;
    grid-template-rows: 5px 5px;
    gap: 5px;
    position: sticky;
    top: 30px;
    right: 30px;
    text-align: right;
    font-size: 1.4em;
}

.section-heading {
    text-align: center;
    font-size: 4em;
}

.mainpage-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 52.5%;
}

.about-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 32.5%;
}

.about-me {
    font-size: 2em;
    text-align: center;
}

.game-pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
}

.game-video {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
}